html{
    background-image: url('./images/Screenshot\ \(31\).png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1587px) {
    html {
        background-size: 77vw 90vh;
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }
}