* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
#skills-nav{
    position: relative;
    top: 4vh;
    left: -5vw;
}

#name{
    top: -7vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.background{
    background-color: black;
}

.container{
    display: flex;
    width: 90vw;
    position: relative;
    left: 4vw;
}

.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: .5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in ;
}

.card h1{
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.509);
    background-blend-mode: darken;
    padding: 12px 12px 12px 12px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
}
.card.active{
    flex: 5;
}
.card.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in .7s;
}

@media (max-width: 768px) {
    .container {
        display: block; /* Change to block to stack cards */
        position: relative;
        left: 3vw;
        top: 10vh;
    }
    #none{
        display: flex;
        align-items: center;
        justify-content: center;
        left: 6vw;
        top: 2vh;
        right: 6vw;
        font-size: 20px;
        padding: 12px 12px 12px 12px;
    }

    .card h1{
        font-size: 20px;
        right: 4vw;
    }
    
    .card {
        margin-bottom: 10px; /* Add margin between stacked cards */
        width: 80vw; /* Adjust width to fit the viewport */
        max-width: 768px; /* Set maximum width for better readability */
        max-height: 50px;
    }
    .card.active{
        max-height: 500px;
        font-size: 20px;
    }
    #logo {
        height: 0;
        width: 0;
        border-color: none;
    }
}
a{
    background-color: transparent;
    color: rgb(173, 173, 173);
}